
body > header {
	z-index: 4;
	padding: 2vh 0;
	background: linear-gradient(to bottom, #ECECEC 90%, #b8b8b800);
	position: sticky;
	top: 0;
	left: 0;
}

header .menu__desktop {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 0;
	background: transparent;
}

header .menu__title h1 {
	font-size: 4vw;
	font-family: "Playfair Display", serif;
	font-weight: 400;
	font-style: normal;
	line-height: 1.6;
}

header .menu__desktop a {
	color: #000;
	font-weight: 600;
	font-size: 1vw;
	letter-spacing: 0.2rem;
	padding: clamp(1vw, 1vw, 1rem);
	transition: background-color 0.25s ease-out;
}
header .menu__desktop a:hover {
	background-color: #946e35;
	color: #FFF;
	box-shadow: 0px 6px 9px 0px #000;
}

header nav .left {
	display: flex;
	gap: 2vw;
}


div.menu__mobile {
	display: none;
	position: relative;
}

.menu__mobile > nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu__mobile__button {
	background: none;
	max-width: 48px;
	max-height: 48px;
	border: none;
}
.menu__mobile__button svg {
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.menu__mobile__list {
	z-index: 2;
	pointer-events: none;
	background: #fff;
	position: absolute;
	opacity: 0;
	left: 0;
	top: 0;
	transform: translateY(8.94vh);
	height: 0;
	right: 0;
	transition: all 0.5s ease-in-out;
	overflow: hidden;
}
.menu__mobile__list.active{
	pointer-events: all;
	z-index: 2;
	height: 20vh;
	opacity: 1;
}

.menu__mobile__list ul {
	z-index: 3;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

/*Attempt to fix the dropdown delay bug on mobile*/
.menu__mobile__list ul li {
	height: 0;
	overflow: hidden;
}
.menu__mobile__list.active ul li {
	height: auto;
}
